<form #settingsForm="ngForm">
    <div *ngIf="data.course['MEET1_DAYS']">
        <p>Meet Day 1</p>
        <mat-label>Start Time: {{ data.course['MEET1_BEGIN_TIME12'] }} </mat-label>
        <mat-radio-group name="stime1" [(ngModel)]="data.course['MEET1_BEGIN_TIME12_AMPM']">
            <mat-radio-button value="am">AM</mat-radio-button>
            <mat-radio-button value="pm">PM</mat-radio-button>            
        </mat-radio-group>
        <br>

        <mat-label>End Time: {{ data.course['MEET1_END_TIME12'] }} </mat-label>
        <mat-radio-group name="etime1" [(ngModel)]="data.course['MEET1_END_TIME12_AMPM']">
            <mat-radio-button value="am">AM</mat-radio-button>
            <mat-radio-button value="pm">PM</mat-radio-button>            
        </mat-radio-group>
    </div>

    <div *ngIf="data.course['MEET2_DAYS']">
        <p>Meet Day 2</p>
        <mat-label>Start Time: {{ data.course['MEET2_BEGIN_TIME12'] }} </mat-label>
        <mat-radio-group name="stime2" [(ngModel)]="data.course['MEET2_BEGIN_TIME12_AMPM']">
            <mat-radio-button value="am">AM</mat-radio-button>
            <mat-radio-button value="pm">PM</mat-radio-button>            
        </mat-radio-group>
        <br>

        <mat-label>End Time: {{ data.course['MEET1_END_TIME12'] }} </mat-label>
        <mat-radio-group name="etime2" [(ngModel)]="data.course['MEET2_END_TIME12_AMPM']">
            <mat-radio-button value="am">AM</mat-radio-button>
            <mat-radio-button value="pm">PM</mat-radio-button>            
        </mat-radio-group>
    </div>

    <div *ngIf="data.course['MEET3_DAYS']">
        <p>Meet Day 3</p>
        <mat-label>Start Time: {{ data.course['MEET3_BEGIN_TIME12'] }} </mat-label>
        <mat-radio-group name="stime3" [(ngModel)]="data.course['MEET3_BEGIN_TIME12_AMPM']">
            <mat-radio-button value="am">AM</mat-radio-button>
            <mat-radio-button value="pm">PM</mat-radio-button>            
        </mat-radio-group>
        <br>

        <mat-label>End Time: {{ data.course['MEET3_END_TIME12'] }} </mat-label>
        <mat-radio-group name="etime3" [(ngModel)]="data.course['MEET3_END_TIME12_AMPM']">
            <mat-radio-button value="am">AM</mat-radio-button>
            <mat-radio-button value="pm">PM</mat-radio-button>            
        </mat-radio-group>
    </div>
    
    <br>
    <mat-form-field style="width: 500px">
        <input matInput name="color" [(ngModel)]="data.course['COLOR']" placeholder="COLOR">
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data" [disabled]="!settingsForm.valid" cdkFocusInitial>Ok</button>
    </div>
</form>