<mat-expansion-panel id="my-courses" [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>My Courses</mat-panel-title>
    </mat-expansion-panel-header>

    <div>
        <mat-list *ngFor="let course of courses">
            <mat-list-item>
                {{ course.DISPLAY_KEY }} - {{ course.TITLE }}
                <span class="spacer"></span>
                <span flex></span>
                <mat-icon (click)="deleteCourse(course)">delete</mat-icon>
                <mat-icon (click)="changeCourse(course)">settings</mat-icon>

            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</mat-expansion-panel>