<!-- <div class="box {{day}} {{time}}">
    
    <p *ngIf="day!='time' && time==0">{{ fullDayName(day) }}</p>
    
    <p *ngIf="day=='time' && time!=0">{{ time < 13 ? time + ' am' : time - 12 + ' pm' }}</p>
    <p *ngIf="color">{{color}}</p>
</div> -->

<div class="box {{ isTimeCol(index) ? 'time-col' : 'day-col' }} {{ isDayRow(index) ? 'day-row' : ''}}">
    <!-- displaying days -->
    <p *ngIf="isDayRow(index) && index != 0">{{ ind2day(index) }}</p>
    <!-- displaying time -->
    <p *ngIf="isTimeCol(index) && index != 0">{{ index / 6 + 6 < 13 ? index / 6 + 6 + ' am' : index / 6 + 6 - 12 + ' pm'}} </p>
    <p *ngIf="color">{{ color }}</p>
</div>