<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="courses">
  
        <!-- Course Column -->
        <ng-container matColumnDef="Course">
            <th mat-header-cell *matHeaderCellDef> Course </th>
            <td mat-cell *matCellDef="let course"> 
                {{ course.DISPLAY_KEY }} <br>
                CRN: {{ course.CRN }}
            </td>
        </ng-container>
        
        <!-- Title Column -->
        <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let course">
                <a href="https://www.colgate.edu/academics/course-offerings#/{{course.TERM_CODE}}/{{course.CRN}}"> {{ course.TITLE }} </a><br>
                Instructor: {{ course.INSTRUCTOR1_NAME }}<span *ngIf="course.INSTRUCTOR2_NAME">, {{ course.INSTRUCTOR2_NAME }}</span><span *ngIf="course.INSTRUCTOR3_NAME">, {{ course.INSTRUCTOR3_NAME }}</span>
            </td>

        </ng-container>

        <!-- Meets Column -->
        <ng-container matColumnDef="Meets">
            <th mat-header-cell *matHeaderCellDef> Meets </th>
            <td mat-cell *matCellDef="let course"> 
                <p *ngIf="course.MEET1_DAYS"> {{course.MEET1_DAYS}} <br> {{course.MEET1_BEGIN_TIME12}} - {{course.MEET1_END_TIME12}} </p> 
                <p *ngIf="!course.MEET1_DAYS">TBD</p>
                <p *ngIf="course.MEET2_DAYS"> {{course.MEET2_DAYS}} <br> {{course.MEET2_BEGIN_TIME12}} - {{course.MEET2_END_TIME12}} </p> 
                <p *ngIf="course.MEET3_DAYS"> {{course.MEET3_DAYS}} <br> {{course.MEET3_BEGIN_TIME12}} - {{course.MEET3_END_TIME12}} </p> 

            </td>
            <ng-template #elsespan>"TBD"</ng-template>
        </ng-container>


        <!-- Status Column -->
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let course"> {{course.STATUS}} 
                <p *ngIf="course.SEATS">{{course.SEATS}}</p>
                <p *ngIf="course.RESERVED_SEATS">{{course.RESERVED_SEATS}} </p>
            </td>

        </ng-container>

        <!-- Restrictions Column -->
        <ng-container matColumnDef="Restrictions">
            <th mat-header-cell *matHeaderCellDef> Pre-Req/Restrictions </th>
            <td mat-cell *matCellDef="let course"> 
                <p *ngIf="course.PRE_REQS">{{course.PRE_REQS}} <br> </p>
                <p *ngIf="course.CLASS_YEAR_RESTRICTIONS">{{course.CLASS_YEAR_RESTRICTIONS}} <br> </p>
                <p *ngIf="course.MAJOR_RESTRICTIONS">{{course.MAJOR_RESTRICTIONS}} <br> </p>
                <p *ngIf="course.SPECIAL_APPROVAL">{{course.SPECIAL_APPROVAL}} <br> </p>
                <p *ngIf="course.CATALOG_RESTRICTIONS">{{course.CATALOG_RESTRICTIONS}} <br> </p>
            </td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>