.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

#course-lister {
    height: 500px;
    overflow: auto;
}

.no-courses-found {
    font-size: small;
    color: sgrey;
}

.col {
    padding-right: 3%;
}

@media print {
     :not(.printMe) {
        visibility: hidden;
    }
}