/* global */
.clickable {
    cursor: pointer;
}

.border-radius-10 {
    border-radius: 10px;
}

mat-select .mat-select-value {
    width: fit-content;
    min-width: 2ch;
    max-width: 25ch;
}

.spacer {
    flex: 1 1 auto;
}