<mat-toolbar color="primary">
    <!-- terms -->
    <mat-form-field>
        <!-- <mat-label>TERM</mat-label> -->
        <mat-select name="currentTerm" [(ngModel)]="currentTerm" (selectionChange)="changeCurrentTerm($event.value)">
            <mat-option *ngFor="let term of terms" [value]="term.TERM_CODE">
                {{ term.TERM_DESC }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- schedule -->
    <mat-form-field>
        <mat-select name="currentSchedule" [(ngModel)]="currentSchedule" (selectionChange)="changeCurrentSchedule($event.value)">
            <mat-option *ngFor="let schedule of schedules" [value]="schedule">
                {{ schedule }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="dontPrint">
        <mat-icon (click)="changeDefaultSchedule()">favorite</mat-icon>
        <mat-icon (click)="newSchedule()">add</mat-icon>
        <mat-icon (click)="duplicateSchedule()">file_copy</mat-icon>
        <mat-icon (click)="deleteSchedule()">delete</mat-icon>
        <mat-icon (click)="editSchedule()">edit</mat-icon>
    </div>

    <div class="dontPrint floatRight">
        <mat-icon (click)="printSchedule()">print</mat-icon>
    </div>
</mat-toolbar>