<mat-toolbar id="header-menu" color="primary">
    <p id="logo" class="clickable" (click)="reload()">Colgate Scheduler</p>

    <!-- terms -->
    <!-- <mat-label>TERM</mat-label> -->
    <mat-select id="term" class="clickable hoverable border-radius-10" name="currentTerm" [(ngModel)]="currentTerm" (selectionChange)="changeCurrentTerm($event.value)">
        <mat-option *ngFor="let term of terms" [value]="term.TERM_CODE">
            {{ term.TERM_DESC | uppercase }}
        </mat-option>
    </mat-select>

    <!-- schedule -->
    <mat-select id="schedule" class="clickable hoverable border-radius-10" name="currentSchedule" [(ngModel)]="currentSchedule" (selectionChange)="changeCurrentSchedule($event.value)">
        <mat-option *ngFor="let schedule of schedules" [value]="schedule">
            {{ schedule | uppercase }}
        </mat-option>
    </mat-select>
    

    <mat-icon class="clickable hoverable header-menu-icon border-radius-10 dontPrint" (click)="changeDefaultSchedule()"
        matTooltip="make default" matTooltipPosition="below">favorite</mat-icon>
    <mat-icon class="clickable hoverable header-menu-icon border-radius-10 dontPrint" (click)="newSchedule()"
        matTooltip="new" matTooltipPosition="below">add</mat-icon>
    <mat-icon class="clickable hoverable header-menu-icon border-radius-10 dontPrint" (click)="duplicateSchedule()"
        matTooltip="clone" matTooltipPosition="below">file_copy</mat-icon>
    <mat-icon class="clickable hoverable header-menu-icon border-radius-10 dontPrint" (click)="deleteSchedule()"
        matTooltip="delete" matTooltipPosition="below">delete</mat-icon>
    <mat-icon class="clickable hoverable header-menu-icon border-radius-10 dontPrint" (click)="editSchedule()"
        matTooltip="rename" matTooltipPosition="below">edit</mat-icon>
    
    <span class="spacer"></span>
    <span flex></span>
    <!-- float right -->
    <mat-icon class="clickable hoverable header-menu-icon border-radius-10 dontPrint" (click)="printSchedule()"
        matTooltip="print" matTooltipPosition="below">print</mat-icon>
</mat-toolbar>