@media print {
    .dontPrint {
        visibility: hidden;
    }
}

#header-menu {
    background-color: rgb(130, 16, 24);
    height: 60px;
    padding: 0 5%;
}

#logo {
    padding: 1% 1% 1% 0.5%;
}

#term {
    padding: 0.3% 0.5% 0.3% 1%;
    font-size: 14px;
    width: fit-content;
}

#schedule {
    padding: 0.3% 0.5% 0.3% 1%;
    font-size: 14px;
    width: fit-content;
}

.header-menu-icon {
    padding: 0.5%;
}

.hoverable:hover {
    background-color: rgb(116, 12, 20);
}