<div class="container">
    <form (ngSubmit)="onSubmit(search.value)" #search="ngForm">
        <mat-form-field style="width: 500px">
            <input matInput name="keyword" [(ngModel)]="keyword" placeholder="DEPARTMENT, COURSE NUMBER, OR INSTRUCTOR LAST NAME">
        </mat-form-field>
        <br>
    
        <mat-form-field>
            <mat-label>TERM</mat-label>
            <mat-select name="term" [(ngModel)]="term">
                <mat-option *ngFor="let term of terms" [value]="term.TERM_CODE">
                    {{ term.TERM_DESC }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>

        

        <button type="submit" mat-raised-button>Search</button>
    </form>

    <!-- {{terms | json}} -->
</div>