.timetable {
    padding: 3%;
    width: 100%;
}

.color-col {
    position: absolute;
    height: 100%;
    width: 100%;
}

.under-day {
    position: absolute;
}

.color-box {
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    min-width: 100px;
    position: absolute;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}

.col {
    float: left;
}



.reg-box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    min-height: 40px;
    min-width: 100px;
}

.time-box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    min-height: 40px;
    min-width: 50px;
    border-left: none;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}

.header {
    min-height: 20px;
    text-align: center;
    border-right: none;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}

.box-23 {
    border-bottom: none;
}